name = "willhaben-scraper"
main = "src/index.ts"
compatibility_date = "2025-01-29"
compatibility_flags = [ "nodejs_compat" ]

browser = { binding = "MYBROWSER" }
services = [
  { binding = "TG_BOT", service = "willhaben-bot" }
]
[vars]
# For local development
WEBHOOK_URL = "<WEBHOOK_URL>"
WEBHOOK_SECRET = "<WEBHOOK_SECRET>"
DEFAULT_URL = "https://www.willhaben.at/iad/immobilien/mietwohnungen/wien"
SCRAPER_BATCH_SIZE = 20


[observability.logs]
enabled = true

[triggers]
# Schedule cron triggers:
# - Daily at 8:00 AM
crons = [ "0 8 * * *" ]
